body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

label,
input[type=text] {
  display: block;
}



.centerThis {
  text-align: center;
  justify-content: center;
}

.topEl {
  margin-top: 2.5%;
  margin-bottom: 5%;
}

.row {
  border-top: 1px solid white;;
  height: auto;
}

/* todays date:style */
#month,
#day,
#year {
  margin: 5px;
  font-size: 24px;
  border: 2px solid black;
  background-color: #717D8C;
  border-radius: 10px;
  color: #DDDDDD;
  padding: 10px;
}

.hour {
  border: .5px solid black;
  max-height: 50px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 2px;
  border-radius: 5px;
  height: fit-content;
  padding-top: 5px;
  padding-bottom: 5px;
}
.dailyList {
background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
padding: 10px;
}

.timeFloat {
  float: left;
}

.save {
  padding-left: 2px;
  padding-right: 2px;
  margin-right: auto;
}

.time {
  text-align: center;
  font-size: 18px;
  text-decoration: underline;
}

/* colorChange */
.focusInput{
  background-color: lightblue;
}

.past {
  background-color: red;
}

.future {
  background-color: lightgreen;
}